<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      /* Add some basic CSS styles */
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= message %></h1>
    </div>
  </body>
</html>
